{% extends "base.html" %}

{% block content %}
<form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="送出"></p>
</form>
{% endblock %}

# 使用者登入表單
class LoginForm(forms.Form):
        username = forms.CharField()
        password = forms.CharField(widget=forms.PasswordInput)

        def __init__(self, *args, **kwargs):
                super(LoginForm, self).__init__(*args, **kwargs)
                self.fields['username'].label = "帳號"
                self.fields['password'].label = "密碼"